* {
  margin: 0;
  padding: 0;
}
body {
  background-color: whitesmoke;
  font-family: sans-serif;
}
.product-title {
  text-align: center;
  text-transform: uppercase;
  background-color: #fbf1f1;
  padding: 15px;
}
.product {
  border: 6px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}
.free-shipping {
  color: #777;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  /* margin-bottom: 20px; */
}
a {
  text-decoration: none;
  color: black;
}
.more-info:link,
.more-info:visited {
  color: black;
  /* margin-bottom: 30px; */
  display: inline-block;
}
.more-info:hover,
.more-info:active {
  text-decoration: underline solid black;
}
.colors {
  padding-top: 20px;
}
.color {
  background-color: black;
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-right: 10px;
}
.color-blue {
  background-color: #2f6ee2;
}
.color-red {
  background-color: #ec2f2f;
}
.color-yellow {
  background-color: #f0ef1e;
}
.color-green {
  background-color: #90cc20;
}
.color-brown {
  background-color: #885241;
}
.add-cart {
  background-color: black;
  color: azure;
  border-top: 6px solid black;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  padding: 15px;
  width: 825px;
}
.add-cart:hover {
  color: black;
  background-color: white;
}
.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 30px;
}
li:last-child {
  font-style: italic;
}
.details-list {
  list-style: square;
  margin-left: 20px;
}
.details-list li {
  margin-bottom: 10px;
}
.sale {
  background-color: #ec2f2f;
  color: #ffff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 7px 15px;
  /* display: inline-block; */
  width: 40px;
  position: absolute;
  top: -17px;
  left: -38px;
}

.product-container {
  display: flex;
  gap: 40px;
}
.product-img {
  margin-right: 40px;
}
.product-info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}
.product-details {
  /* width: 243px; */
  margin-top: 20px;
}
.details-title {
  margin: 0px 0px 15px 0px;
}
.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
